global
    log stdout format raw daemon "${LOG_LEVEL}"

    pidfile /run/haproxy.pid
    maxconn 4000

    # Turn on stats unix socket
    server-state-file /var/lib/haproxy/server-state

defaults
    mode http
    log global
    option httplog
    option dontlognull
    option http-server-close
    option redispatch
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 10s
    timeout client 10m
    timeout server 10m
    timeout http-keep-alive 10s
    timeout check 10s
    maxconn 3000

    # Allow seamless reloads
    load-server-state-from-file global

    # Use provided example error pages
    errorfile 400 /usr/local/etc/haproxy/errors/400.http
    errorfile 403 /usr/local/etc/haproxy/errors/403.http
    errorfile 408 /usr/local/etc/haproxy/errors/408.http
    errorfile 500 /usr/local/etc/haproxy/errors/500.http
    errorfile 502 /usr/local/etc/haproxy/errors/502.http
    errorfile 503 /usr/local/etc/haproxy/errors/503.http
    errorfile 504 /usr/local/etc/haproxy/errors/504.http

backend tailscaledbackend
    server tailscaledsocket $SOCKET_PATH
    timeout server 0

frontend tailscalefrontend
    bind ${BIND_CONFIG}
    http-request set-header Host local-tailscaled.sock
    http-request deny unless METH_GET || METH_HEAD || { env(POST) -m bool }

    # Allow all LocalAPI sections when explicitly requested.
    http-request allow if { path_beg /localapi/v0/ } { env(ALL) -m bool }

    # Allowed sections.
    http-request allow if { path -i / } { env(ROOT) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/cert(/.*)?$ } { env(CERT) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/cert-domains$ } { env(CERT) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/check-prefs$ } { env(CHECK_PREFS) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/check-so-mark-in-use$ } { env(CHECK_SO_MARK_IN_USE) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/derpmap$ } { env(DERPMAP) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/dns-config$ } { env(DNS_CONFIG) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/goroutines$ } { env(GOROUTINES) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/login-interactive$ } { env(LOGIN_INTERACTIVE) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/logout$ } { env(LOGOUT) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/peer-by-id$ } { env(PEER_BY_ID) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/ping$ } { env(PING) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/prefs$ } { env(PREFS) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/profiles/ } { env(PROFILES) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/reload-config$ } { env(RELOAD_CONFIG) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/reset-auth$ } { env(RESET_AUTH) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/services$ } { env(SERVICES) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/set-expiry-sooner$ } { env(SET_EXPIRY_SOONER) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/shutdown$ } { env(SHUTDOWN) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/start$ } { env(START) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/status$ } { env(STATUS) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/user-profile$ } { env(USER_PROFILE) -m bool }
    http-request allow if { path,url_dec -m reg -i ^/localapi/v0/whois$ } { env(WHOIS) -m bool }

    http-request deny
    default_backend tailscaledbackend
